
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&family=Ruda:wght@400..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: "Melodrama";
    src: url("../styles/fonts/Melodrama-Variable.ttf");
}
:root {
    --off-white: #fafaef;
    --accent-primary: #4A9DAB;
    --accent-secondary: #89D69A;
    --accent-tertiary: #E1E17E;
    --main-font-fam: "Melodrama", Arial, Helvetica, sans-serif;
    --secondary-font-fam: "Wix Madefor Text", Arial, Helvetica, sans-serif;

    --size-1: 11.391rem;
    --size-2: 7.594rem;
    --size-3: 5.063rem;
    --size-4: 3.375rem;
    --size-5: 2.25rem;
    --size-p: 1rem;
    --size-s: 0.667rem;

}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-width: 100%;
    
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: var(--main-font-fam);
    font-weight: 400;
}

#root, #__next {
    isolation: isolate;
}

button {
    border: 0;
    border-radius: 1.25rem;
    background-color: var(--accent-primary);
    padding-left: 4px;
    padding-right: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-primary);
    padding-left: 32px;
    padding-right: 32px;
    font-family: var(--main-font-fam);
}

footer {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-primary);
    color: var(--off-white);
}

footer p {
    font-family: var(--secondary-font-fam);
}

.branding, nav {
    font-family: inherit;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--off-white);
}

.branding {
    font-size: var(--size-5);
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}

nav button {
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: var(--size-5);
    height: 100%;
    color: inherit;
    border-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
}

nav button .active {
    background-color: var(--accent-secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    gap: 128px;
}

.tagline {
    font-size: var(--size-2);
}

.section {
    padding-top: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    white-space: pre; /*Forces line break from .textContent*/
    gap: 100px
}

.section p {
    text-wrap: wrap;
    font-size: var(--size-5);
    font-weight: 200;
    font-family: var(--secondary-font-fam);
    color: rgb(130, 130, 130);
}

.section h2 {
    font-size: var(--size-3);
    font-weight: 700;
}

.actionBtn {
    background-color: var(--accent-tertiary);
    padding: 12px;
    margin-top: 8px;
    font-family: var(--secondary-font-fam);
}

.menuSpan {
    background-color: var(--accent-secondary);
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.menuSpan p {
    font-family: var(--secondary-font-fam);
}

.menuSpan img {
    width: 640px;
    height: auto;
}

/*Full bleed allows the background colour to break out of the containing div */
.fullBleed {
    box-shadow: 0 0 0 100vmax var(--accent-secondary);
    clip-path: inset(0 -100vmax);
}

.menu {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    padding-bottom: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 1rem;
}

.card img {
    width: 100%;
    height: auto;
}

.card h4 {
    font-weight: 700;
    line-height: 2;
    color: inherit;
    font-size: var(--size-5);
}

.card p, .card h6 {
    font-family: var(--secondary-font-fam);
    color: inherit;
}

.card h6 {
    font-weight: 800;
    font-size: var(--size-6);
}

.aboutUsDesc {
    background-color: var(--accent-secondary);
    font-family: var(--secondary-font-fam);
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 64px;
}

.aboutUsDesc p {
    font: inherit;
    font-size: var(--size-5);
}